html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
:root{
  --nav-font: 20px;
  --contact-btn-link: 18px;
  --lang-select-font: 18px;
  --slider-arrow-font: 18px;
  --banner-text: 28px;
  --section-title: 26px; 
  --text-font: 20px;
  --see-all-font: 16px;
  --show-all: 18px;
  --title-font:20px;
  --read-more-font: 20px;
  --banners-text-font: 22px;
  --footer-links-font: 20px;
  --business-asistant-title: 26px;
  --prev-btn: 18px;
}
 
/* Header */
.__header-line{
  height: 1px;
  width: 100%;
  background-color: rgba(255,255,255,0.25);
}
.__header{
  height: 289px;
  position: fixed;
  top: 0;
  z-index: 9;
  background: linear-gradient(to bottom, rgba(0,0,0,1), 60%, rgba(255,255,255,0.001));
  width: 100%; 
}
 
.__header-child{
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}
.__header-left{
  display: flex;
  align-items: center;
  gap: 90px;
  transition: 0.2s;
}
.__header-left .logo img{
  width: 146px;
  height: 73px;
}
.__nav ul{
  display: flex;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}
.__nav ul li{
  list-style: none; 
  height: 30px;
} 
 
.__nav ul li .nav-link{
  text-decoration: none;
  padding: 0 30px; 
  font-size: var(--nav-font);
  color: #fff;
  font-weight: 500;
  font-family: 'FiraGO';
  text-transform: capitalize; 
  position: relative;
  transition: 0.2s; 
} 
.__nav ul li.active-link .nav-link::after{
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  bottom: 10px;
  background-color: #F15B30;
  border-radius: 50%;
  left: 50%;
  bottom: 0;
}
.__nav ul li:hover .nav-link,
.__nav ul li.active-link .nav-link{
  color: #F15B30;
  margin-top: -10px;
  height: 40px;  
}
.__search-lang-cont{
  display: flex;
  align-items: center;
  gap: 38px;
} 
.__search-icon-link a span svg path{
  transition: 0.2s;
}
.__search-icon-link a span svg:hover path{
  fill: #F15B30;
}
.contact-link-btn{
  padding: 14px 26px;
  color: #fff;
  line-height: 22px;
  font-size: var(--contact-btn-link);
  font-weight: 500;
  font-family: 'FiraGO';
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #049878;
  text-decoration: none;
}
.__lang-box{
  position: relative;
  display: flex;
  align-items: center;
  width: 45px;
  height: 40px;
}
.lang-select{
  max-height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9px;
  transition: 0.3s;
}
.lang-select a{
  color: #fff;
  font-size: var(--lang-select-font);
  text-transform: uppercase;
  font-family: 'FiraGO';
  font-weight: 500;
  transition: 0.3s;
  line-height: 24px;
}
.lang-select a:hover{
  color: #F15B30;
}
.lang-vector{
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: 0.3s;
}
.select-open .lang-select{
  max-height: 200px;
}
.select-open .lang-vector{
  transform: rotate(180deg);
}
.change-header{
  height: 143px;
  background: #fff;
  box-shadow: 0px 12px 20px -15px #ccc;
}
.change-header .__nav ul li .nav-link{
  color: #000;
}
.change-header .__nav ul li:hover .nav-link,
.change-header .__nav ul li.active-link .nav-link{
  color: #F15B30;
}
.change-header .__search-icon-link a span svg path {
  fill: #000;
}
.change-header .__search-icon-link a span svg:hover path{
  fill: #F15B30;
}
.change-header .lang-select a{
  color: #000;
}
.change-header .lang-select a:hover{
  color: #F15B30;
}
.change-header .lang-vector svg path{
  fill: #000;
}
.next-arr .slick-disabled{
  color: red!important;
}
/* Header */

 /* Main Banner  */
.banner-slider-relative{
  height: 837px;
  position: relative;
}
 .banner-item{
  width: 100%;
  height: 837px;
  position: relative;
 }
 .video-item{
  width: 100%;
  height: 837px;
 }
 .__img-side{
  width: 100%;
  height: 100%;
 }
 .__img-side img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
 }
 .blur-img-background{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
 }
 .control-arrows{
  position: absolute;
  right: 180px;
  bottom: 30px;
  display: flex;
  align-items: center;
 }
 .main-slider-arrow{
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: var(--slider-arrow-font);
  font-weight: bold;
  font-family: 'FiraGO';
  margin: 0 7px;
 }
 .control-arrows span{
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  font-family: 'FiraGO';
 }
 .control-arrows span.slider-items-count{
  color: #AEAEAE;
 }
 .slider-line {
  width: 95px;
  height: 2px;
  background: #fff;
  margin: 0 12px;
 }
 .img-text-side-absolute{
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;  
 }
 .img-text-side-absolute span{ 
  width: 702px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: var( --banner-text);
  color: #fff;
  text-transform: uppercase;
  line-height: 46px; 
  font-family: 'FiraGO';
  font-weight: 500;
  margin-bottom: 40px;
 }
 .img-text-side-absolute a{
  padding: 15px 33px;
  line-height: 28px;
  color: #1F2E39;
  border-radius: 4px;
  background: #fff;
  transition: 0.3s;
  text-transform: uppercase; 
  font-family: 'FiraGO';
  font-weight: 500;
  font-size: 16px; 
  transition: 0.3s;
 }
 /* .img-text-side-absolute a:hover{
  background-color: #1F2E39;
  color: #fff;
 } */
 /* Main Banner  */

/* SeeAll */
.see-all {
  font-size: var(--see-all-font);
  color: #000;
  width: fit-content;
  transition: 0.3s;
  position: relative;
  font-weight: bold;
  font-family: 'FiraGO';
}

.see-all::after{
  position: absolute;
  content: " ";
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: 0.3s;
}
.see-all:hover::after{
  width: 100%;
}
/* SeeAll */
 /* SectionTItle */
 .h1__section-title{
  margin-bottom: 50px;
  display: flex;
  gap: 12px;
  align-items: center;
 }
 .title__0{
  font-size: var(--section-title);
  font-weight: 600;
  line-height: 40px;
  text-transform: capitalize;
  font-family: 'FiraGO';
 }
 /* SectionTItle */

 

 /* PuzzleSection */
 /* Puzzle */
 .puzzle{ 
  display: flex;
  align-items: center;
  justify-content: flex-end;
 }
  .puzzle-ul{
    width: 774px;
    border-radius: 8px;
    overflow: hidden;
  }  
    .puzzle-text-top, .succeed{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: 'FiraGO';
  }
 /* Puzzle */
 .puzzleSection{
  padding: 50px 0 100px 0;
 }
 .puzzle-left-text{
  padding-top: 60px;
 }
 .puzzle-left-text .text{
  margin-top: 10px;
  font-size: var(--text-font);
  color: #000;
  line-height: 38px;
  width: 664px;
  font-weight: 400;
  font-family: 'FiraGO'; 
 }
 /* PuzzleSection */

 /* Services-slider */
 .services-slider{
  padding: 100px 0;
  background: #F5F4F4;
  overflow-x: hidden;
 }
 .services-slider-box{
  width: 135%;
 }
 .__services-item{
  margin-right: 30px;
  width: 499px!important;
  height: 416px ;
  border-radius: 12px;
  background: #fff;
  padding: 30px;
  transition: 0.2s;
 }
 .services-icon{
  margin-top: 10px;
  width: fit-content; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  background: #F5F4F4;
  border-radius: 5px;
  margin-bottom: 30px;
 }
 .services-icon img{
  max-width: 65px;
  max-height: 65px;
  object-fit: cover;
 }
 .__services-item .title{
  width: 100%;
  padding-right: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #000;
  font-size: var(--title-font);
  font-family: 'FiraGO';
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 32px;
 }
 .__services-item .text{
  font-size: var(--text-font);
  line-height: 32px;
  margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  padding-right: 15px; 
  font-family: 'FiraGO';
 }
 .read-more-box{
  display: flex;
  align-items: center;
 }
 .read-more-box .read-more-link{
  color: #F15B30;
  font-size: var(--read-more-font);
  font-weight: 600;
  margin-right: 15px;
 }
 .read-more-arrow{
  transition: 0.3s;
 }
 
 .__services-item:hover .read-more-arrow{ 
  transform: rotate(45deg);
 }
 .important-title{
  width: 100%;
  display: flex; 
  align-items: flex-start;
  justify-content: space-between;
 }
 .title-link-service a{
  line-height: 40px;
 }
 .controls-services-slider{
  margin-top: 40px;
  justify-content: flex-end;
  display: flex;
 }
 .controls-services-slider button{
  border: none;
  background: transparent; 
  font-size: 16px;
  color: #000;
  font-family: 'FiraGO'; 
  transition: 0.2s;
  padding: 0;
 }
 .controls-services-slider button:hover{
  color: #F15B30;
 }
  
 .controls-services-slider button:first-child{
  margin-right: 20px;
 }
 .controls-services-slider button:first-child span{
  margin-right: 20px;
 }
 .controls-services-slider button:last-child span{
  margin-left: 20px;
 }
 /* Services-slider */

 /* Cases section */
 .case-section{
  padding: 50px 0;
 }
 .cases-box{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
 }
 .case-item{
  width: calc((100% / 2) - 15px);
  height: 366px;
  display: flex;
  gap: 30px;
 }
 .case-img{
  width: 368px;
  height: 366px;
  border-radius: 8px;
  overflow: hidden;
 }
 .case-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
 }
 .case-img:hover img{
  transform: scale(1.03);
 }
 .case-text{
  padding-top: 12px;
  width: calc(100% - 398px);
  padding-right: 30px;
 }
 .case-text h1{
  font-size: var(--title-font);
  font-weight: bold;
  font-family: 'FiraGO'; 
  color: #000;
  line-height: 32px;
  height: 59px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 15px;
 }
 .case-text .text{
  font-size: var(--text-font); 
  font-family: 'FiraGO'; 
  color: #000;
  line-height: 36px; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden; 
 }
 .text__case_01{
  height: 212px; 
  margin-bottom: 22px;
 }
 /* Cases section */
 /* Read - More */
  .read-more-link__01{
    padding: 11px 25px; 
    border-radius: 4px;
    border: 2px solid #F5F4F4;
    font-size: var(--read-more-font);
    color: #F15B30;
    font-weight: 500;
    font-family: 'FiraGO'; 
    transition: 0.2s;
  }
  .read-more-link__01:hover{
    background-color: #F15B30;
    color: #fff;
    border: 2px solid #F15B30;
  }
 /* Read - More */

 /* NewsAndPublicationSection */
 .news-and-publications-section{
  padding: 50px 0;
 }
 .news-and-publications-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 }
 ._n_p-item{
  width: calc((100% / 3) - 20px);
 }
 .item-img_n_p{
  width: 100%;
  height: 204px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: block;
 }
 .item-img_n_p img{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s;
}
.item-img_n_p:hover img{
  transform: scale(1.08);
}
.indicator-title{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.indicator-title h3{
  padding: 14px 74px;
  width: fit-content;
  background: #4C4C4B;
  color: #fff;
  text-transform: capitalize;
  text-decoration: underline;
  margin: 14px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'FiraGO'; 
  font-weight: 600;
}
.n_p-date{
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: fit-content;
  background: #fff;
  padding: 10px 35px;
  border-radius: 5px;
  color: #000;
  text-transform: capitalize;
  font-family: 'FiraGO'; 
}
._n_p-text{
  padding: 30px;
  padding-top: 35px;
  border: 3px solid #F5F4F4;
  border-radius: 12px;
  margin-top: -10px;
}
._n_p-text h1{
  font-size: var(--title-font);
  font-weight: bold;
  line-height: 32px;
  height: 68px;
  overflow: hidden;
  margin-bottom: 8px;
  font-family: 'FiraGO'; 
}
._n_p-text .text{
  height: 72px;
  overflow: hidden; 
  margin-bottom: 22px;
}
._n_p-text .text .text_inside{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: var(--text-font);
  line-height: 32px; 
  font-family: 'FiraGO';
  padding-right: 15px; 
}
._n_p-links-box{
  display: flex; 
  align-items: center;
}
.line-n_p{
  height: 35px;
  width: 2px;
  background-color: #F5F4F4;
  margin: 0 25px;
}
.request-btn{
  display: flex;
  align-items: center;
  color: #1F2E39;
  font-size: var(--read-more-font);
  font-weight: 600;
  transition: 0.3s;
}
.request-btn span{
  margin-left: 12px; 
}
.request-btn span svg path{
  transition: 0.3s;
}
.request-btn:hover{
  color: #F15B30;
}
.request-btn:hover span svg path{
  fill: #F15B30;
}
 /* NewsAndPublicationSection */

/* Banners */
.banners-box-section{
  padding: 100px 0 50px 0;
}
.banners{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
}
.banners a{
  width: calc((100% / 3) - 20px); 
}
.banner-bacgkround-image{ 
  width: 100%;
  height: 112px; 
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
}
.banners a:hover .banner-bacgkround-image{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.banner-bacgkround-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-bacgkround-image h2{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  font-size: var(--banners-text-font);
  font-weight: bold;
  line-height: 36px; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: 'FiraGO';
  overflow: hidden;
}
/* Banners */

/* Footer */
  .footer{
    padding: 100px 0 70px 0;
    background-color: #1E2E38;
    position: relative;
    margin-top: 164px;
  }
  .footer-booking-now-box{
    width: 1030px;
    height: 155px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -4px 8px -7px rgb(0 0 0 / 10%);
    padding-left: 50px;
    position: absolute;
    top: -116px;
    left: 50%;
    transform: translateX(-50%);
  }
  .booking-logo-left{
    width: 77px;
    height: 77px;
  }
  .booking-logo-left img{
    width: 100%;
    height: 100%;
  }
  .booking-text{
    width: 271px;
    font-size: 24px;
    font-weight: bold;
    color: #163749;
    font-family: 'FiraGO'; 
    margin: 0;
  }
  .booking-btn{
    padding: 10px 21px;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #163749;
    font-size: 18px;
    font-weight: 500;
    font-family: 'FiraGO'; 
    color: #163749;
    transition: 0.3s;
  }
  .booking-btn:hover{
    background-color: #163749;
    color: #fff;
  }
  .booking-right-logo{
    margin-right: -1px;
    margin-bottom: -16px;
  }
  .footer-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .footer-logo{
    width: 173px;
    height: 85px;
    margin-bottom: 60px;
  }
  .footer-logo img{
    width: 100%;
    height: 100%; 
  }
  .footer-links{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 60px;
  }
  .footer-link{
    color: #fff;
    font-size: var( --footer-links-font);
    font-family: 'FiraGO'; 
    transition: 0.3s;
  }
  .footer-link:hover{
    color: #F15B30;
  }
  .footer-right-side{
    display: flex; 
    align-items: flex-end;
    flex-direction: column;
  }
  .subscribe-box{
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .subscribe-box h3{
    width: 220px;
    font-size: 15px;
    font-weight: 600; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: 'FiraGO';
    overflow: hidden;
    color: #fff;
  }
  .subscribe-form{
    position: relative;
    width: 310px;
  }
  .subscribe-form input{
    width: 100%;
    height: 60px;
    /* position: relative; */
    font-size: 18px;
    font-family: 'FiraGO';
    color: #fff;
    padding-left: 18px;
    background: #5A6B76;
    appearance: none;
    border: none!important;
    outline: none;
  }
  .subscribe-form input:focus-visible{
    border: none;
  }
  .subscribe-form input::placeholder{
    font-size: 18px;
    color: #7A8F9C;
    font-family: 'FiraGO';
  }
  .subscribe-form button{
    background-color: transparent;
    position: absolute;
    right: 26px;
    height: 60px;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: 'FiraGO';
    font-size: 18px;
    color: #fff;
  }
  .soc-box{
    margin-top: 70px;
    display: flex;
    align-items: center;
  }
  .soc-box h2{
    font-size: 18px;
    color: #fff;
    font-family: 'FiraGO'; 
    margin-right: 20px;
    font-weight: 400;
  }
  .soc-icons{
    display: flex;
    gap: 28px;
  }
  .soc-icons a span svg path{
    transition: 0.3s;
  }
  .soc-icons a:hover span svg path{ 
     fill: #F15B30;
  }
  .soc-icons a:nth-child(2):hover span svg path:nth-child(2){
    fill: rgb(30, 46, 56);
  }
/* Footer */
/* Copyright */
.__creat{
  height: 70px;
  border-top: 1px solid #385668;
  background-color: #1E2E38;
}
.creat-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.creat-box .left-list{
  display: flex;
  align-items: center;
}
.creat-box .left-list h1{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: 'FiraGO'; 
  color: #fff;
}
.creat-box .left-list h1 .line__03{
  background-color: #385668;
  width: 1px;
  height: 23px;
  margin-right: 20px;
}
.creat-box .left-list h1:last-child .line__03{
  width: 0;
}
#idea{
  color: #fff;
  font-size: 16px;
  font-family: 'FiraGO'; 
  font-weight: 500;
}
/* Copyright */

/* Business Assistant */
.business-assistant-box{
  padding: 50px 0 40px 0;
  overflow: hidden;
}
.__selector-boxes{
  position: relative;
}

.questions-number-box{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.title-box_1{
  position: relative; 
  width: 380px;
}
.title-box_1 .circle{ 
  width: 118px;
  height: 118px;
  background: rgba(207, 87, 57, 0.15);
  border-radius: 50%; 
}

.title-box_1 .title{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 24px;
  width: 350px;
  position: absolute;
  top: 64%;
  transform: translateY(-50%);
}
.title-box_1 .title h2{
  font-size: var(--business-asistant-title);
  font-weight: bold;
  line-height: 36px;
  color: #CF5739;
  font-family: 'FiraGO'; 
}
.title-box_1 .title .question-num{
  display: flex;
  gap: 5px;
}
.question-num h4{
  font-family: 'FiraGO'; 
  font-size: 24px;
  color: #000;
  font-weight: 400;
}
.question-num  span{
  font-family: 'FiraGO'; 
  font-size: 24px;
  color: #000;
  font-weight: 400; 
}
.question-num  span._n_1{
  color: #CF5739;
}
.questions-number-box .text-box_1{
  font-size: var(--text-font);
  font-weight: 400;
  color: #1E2E38;
  max-width: 642px;
  height: 118px;
  padding: 35px 0;
  overflow: hidden;
  line-height: 38px;
  margin-left: 170px;
  font-family: 'FiraGO';  
}

.choose-options-title{
  font-size: var(--title-font);
  font-weight: bold;
  color: #1B1B1B;
  font-family: 'FiraGO';  
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.choose-items-box{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-height: 194px;
  overflow: hidden;
  transition: 0.3s;
}
.open-choose-item-box{
  max-height: 1000px;
}
.select-item{
  padding: 25px 40px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'FiraGO';  
  color: #1B1B1B;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
.select-item:hover{
  background: #CF5739;
  color: #fff;
  border: 2px solid #CF5739;
}
.select-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  align-items: flex-end;
}
.left-show-all h3{
  position: relative;
  font-size: var(--show-all);
  font-family: 'FiraGO';  
  color: #000;
  text-transform: capitalize;
  cursor: pointer;
}
.left-show-all h3::before{
  position: absolute;
  content: "";
  bottom: 1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000; 
  transition: 0.3s;
}
.left-show-all h3:hover::before{
  width: 100%;
}
.next-question-btn{
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.next-btn{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 13px 16px;
  border-radius: 5px;
  color: #fff;
  background: #CF5739;
  font-size: var(--show-all);
  font-family: 'FiraGO';  
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid transparent;
  color: #CF5739;
  background: #fff;
  border: 2px solid #CF5739;
  pointer-events: none;
}
.next-btn:hover{
  color: #fff;
  background: #CF5739; 
}
.active-btn{
  color: #fff;
  background: #CF5739; 
  pointer-events: initial;
}
.next-btn span svg path{
  transition: 0.3s;
  fill: #CF5739;
}
.next-btn:hover span svg path,
.active-btn span svg path{
  fill: #fff;
}
 
.previous{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--prev-btn);
  font-family: 'FiraGO';  
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.previous:hover{
  color: #049878;
}
.previous span svg path{
  transition: 0.3s;
}
.previous:hover span svg path{
  fill: #049878;
}
.btn-line-01{
  width: 1px;
  height: 40px;
  background: #E1E1E1;
}
.next-question-btn_2{
  align-items: center;
}
.apply-btn{
  border: none;
  padding: 0;
  pointer-events: initial;
}
.apply-btn__{
  border-radius: 5px;
  color: #fff;
  font-size: var(--prev-btn);
  font-family: 'FiraGO';  
  font-weight: bold;
  background: #049878;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 67px;
  border: none;
  text-transform: capitalize; 
}
.item-form-box{
  padding-bottom: 10px;
}
.check-active{
  background: #CF5739;
  color: #fff;
  border: 2px solid #CF5739;
}
.__selector-box_02 .choose-items-box .select-item:hover,
.__selector-box_02 .check-active{
  background: #049878;
  border: 2px solid #049878;
}
 
.__selector-box_01{ 
  transition: 0.2s; 
  background: #fff;
}
/* .open-selector-box .__selector-box_01{ 
  opacity: 0;
} */
.__selector-box_02{
  position: absolute;
  top: 0; 
  left: 0;
  transition: 3s;
  background: #fff;  
}
.open-selector-box .__selector-box_02{
  animation: selector_B 0.8s ease;  
  width: 100%;
  /* z-index: -1; */ 
}
@keyframes selector_B{
  0%{
    left: 150%; 
  }
  90%{
    left: -2%;
  }
  100%{
    left: 0;  
  }
}
 
.open-selector-box-2 .__selector-box_01{
  animation: selectorWidth 0.8s ease;
  width: 100%;
}
.open-selector-box-2 .__selector-box_01::before{
  position: absolute;
  left: -100px;
  top: 0;
  content: "";
  width: 100px;
  height: 100%;
  background-color: #fff; 
}
.open-selector-box-2 .__selector-box_02{ 
  width: 100%;
  z-index: -1;
  transition: 3s;
  left: 0;
}
.open-selector-box .__selector-box_02::after{
  position: absolute;
  right: -100px;
  top: 0;
  content: "";
  width: 100px;
  height: 100%;
  background-color: #fff; 
}
@keyframes selectorWidth{
  0%{
    transform: translateX(-150%); 
  }
  90%{
    transform: translateX(2%); 
  }
  100%{
    width: 100%; 
    transform: translateX(0); 
  }
}
/* Business Assistant */
